body{
	background-image:url('images/cross_scratches.png');
  	margin:0;
  	padding:0;
	font-family:"CrimsonRoman", Georgia, serif;
}

header {
	font-family:"TeXGyreAdventorRegular", Times, sans-serif;
	margin-top:45px;
}

header h1 {
  display:inline-block;
  margin-top:70px;
  margin-left: 25px;
  font-size: 40px;
}

header img{
	width:20%;
	height:20%;
	float:left;
	margin-left:20%;
	margin-bottom:40px;
}



nav{
	font-family:"TeXGyreAdventorRegular", Ariel, sans-serif;
	position:fixed;
	top:0px;
	background-color:#DEDEDE;
	height:35px;
	width:100%;
	display:inline;
}

nav li {
	display:inline;
	margin-left:10px;
	margin-right:10px;
}

nav ul{
	text-align:center;
	margin-top:-38px;
	margin-left:120px;
}

nav a{
	text-decoration:none;
	color:black;
}

nav a:hover{
	text-decoration:underline;
	color:black;
}

counter {
}

nav img {
	padding:10px;
}

#main {
	background-color:#003F87;
	
	font-size:20px;
  padding-bottom: 15px;
margin-bottom:15px;
  width:100%;
	display:inline-table;
}

#main-content {
	margin-left:70px;
	color:white;
	font-size:20px;
	padding-top:15px;
	width:65%;
  float:left;
}

#main p{
	color:white;
}

#weather {
	float:right;
	padding-right:70px;
	padding-top:25px;
}

#contact{
	background-image:url('images/cross_scratches.png');
	display:inline-table;
	margin-top:-30px;
	font-family:"TeXGyreAdventorRegular", Ariel, sans-serif;
}

#contact h2 {
	padding-top:20px;
	margin-left:70px;
}

#contact p{
	margin-left:70px;
}

#contact-text {
	width:55%;
	float:left;
}

#contact-text li{
	font-size:16px;
	width:65%;
	display:inline;
	float:left;
	margin-left:70px;
	text-decoration:none;
}

#socialmedia {
	float:left;
	margin-left:25px;
  height: 20%;
width: 35%;
	margin-top:-25px;
}

#studentactivities{
	font-size:14px;
  margin-top:130px;
	font-family:"TeXGyreAdventorRegular", Ariel, sans-serif;
  text-align:center;
}


#buggy-text{
	float:left;
	width:35%;
	height:100%;
	margin-left:70px;
	color:white;
	padding-top:15px;
}

#buggy-text p{
	margin-left:20px;
	margin-right:15px;
}

#buggy-text a{
	color:#CFCFCF;
	text-decoration:underline;
}

#buggy-text a:hover{
	text-decoration:none;
}

#buggy-table{
	float:right;
	width:54%;
	margin-right:10px;
	color:white;
	font-family:"CrimsonRoman", Georgia, serif;
}

#buggy-table a{
	color:#CFCFCF;
	text-decoration:underline;
}

#buggy-table a:hover{
	text-decoration:none;
}

/*Buggy Table CSS copied from 2010*/
#buggy-tabletable{
  min-width: 488px;
  border-collapse: collapse;
  margin: auto;
}
#buggy-table *html table{
  width: expression( document.body.clientWidth < 890 ? "488px" : "auto" );
}
#buggy-table td{
  font-size:18px;
  text-align: left;
  vertical-align: middle;
  padding: 10px;
  border-bottom: 1px solid #888888;
}
#buggy-table th{
  font-size:20px;
  text-align: left;
  font-weight: bold;
  vertical-align: middle;
  padding: 10px;
  border-bottom: 1px solid #000000;
}
#buggy-table tr{
  overflow: auto;
}
/*End of copied CSS*/

#booth-categories{
	text-decoration:none;
	font-size:22px;
	margin-left:450px;
}

#booth-categories li{
	list-style:none;
	padding-left:15px;
}

#booth-table {
	color:white;
	margin-top:30px;
}

#mobot-text{
		float:left;
		width:30%;
		margin-left:70px;
		color:white;
}

#mobot-info{
	float:right;
	color:white;
	width:60%;
}

#mobot-text a{
	color:#CFCFCF;
	text-decoration:underline;
}

#mobot-text a:hover{
	text-decoration:none;
}


#entertainment-info{
	color:white;
	margin-left:70px;
}

#entertainment-info ul{
	list-style:none;
}

#entertainment-info a{
	color:#CFCFCF;
	text-decoration:underline;
}

#entertainment-info a:hover{
	text-decoration:none;
}

@font-face {
    font-family: 'TeXGyreAdventorRegular';
    src: url('texgyreadventor-regular-webfont.eot');
    src: url('texgyreadventor-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-regular-webfont.woff') format('woff'),
         url('texgyreadventor-regular-webfont.ttf') format('truetype'),
         url('texgyreadventor-regular-webfont.svg#TeXGyreAdventorRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

.selected {
text-decoration: underline;
}

@font-face {
    font-family: 'TeXGyreAdventorBold';
    src: url('texgyreadventor-bold-webfont.eot');
    src: url('texgyreadventor-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('texgyreadventor-bold-webfont.woff') format('woff'),
         url('texgyreadventor-bold-webfont.ttf') format('truetype'),
         url('texgyreadventor-bold-webfont.svg#TeXGyreAdventorBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'BonvenoCFLight';
    src: url('BonvenoCF-Light-webfont.eot');
    src: url('BonvenoCF-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('BonvenoCF-Light-webfont.woff') format('woff'),
         url('BonvenoCF-Light-webfont.ttf') format('truetype'),
         url('BonvenoCF-Light-webfont.svg#BonvenoCFLight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CrimsonRoman';
    src: url('Crimson-Roman-webfont.eot');
    src: url('Crimson-Roman-webfont.eot?#iefix') format('embedded-opentype'),
         url('Crimson-Roman-webfont.woff') format('woff'),
         url('Crimson-Roman-webfont.ttf') format('truetype'),
         url('Crimson-Roman-webfont.svg#CrimsonRoman') format('svg');
    font-weight: normal;
    font-style: normal;
}

